################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ApiWhatsAppVerification/CopilotIndices/0.2.1657.32929
/.vs/ApiWhatsAppVerification/FileContentIndex/0bb7b568-91ef-43e9-92a1-93cfeebcc86b.vsidx
/.vs/ApiWhatsAppVerification/FileContentIndex/740ddd98-82a8-4ab9-bfeb-b7995d79e506.vsidx
/.vs/ApiWhatsAppVerification/v17
/src/ApiWhatsAppVerification.Application/obj/Debug/net8.0/ApiWhatsAppVerification.Application.AssemblyInfo.cs
/src/ApiWhatsAppVerification.Application/obj/Debug/net8.0/ApiWhatsAppVerification.Application.AssemblyInfoInputs.cache
/src/ApiWhatsAppVerification.Application/obj/Debug/net8.0/ApiWhatsAppVerification.Application.csproj.AssemblyReference.cache
/src/ApiWhatsAppVerification.Domain/obj/Debug/net8.0/ApiWhatsAppVerification.Domain.AssemblyInfo.cs
/src/ApiWhatsAppVerification.Domain/obj/Debug/net8.0/ApiWhatsAppVerification.Domain.AssemblyInfoInputs.cache
/src/ApiWhatsAppVerification.Infrastructure/obj/Debug/net8.0/ApiWhatsAppVerification.Infrastructure.AssemblyInfo.cs
/src/ApiWhatsAppVerification.Infrastructure/obj/Debug/net8.0/ApiWhatsAppVerification.Infrastructure.AssemblyInfoInputs.cache
/src/ApiWhatsAppVerification.Infrastructure/obj/Debug/net8.0/ApiWhatsAppVerification.Infrastructure.csproj.AssemblyReference.cache
/src/ApiWhatsAppVerification.WebApi/obj/Debug/net8.0/ApiWhatsAppVerification.WebApi.AssemblyInfo.cs
/src/ApiWhatsAppVerification.WebApi/obj/Debug/net8.0/ApiWhatsAppVerification.WebApi.AssemblyInfoInputs.cache
/src/ApiWhatsAppVerification.WebApi/obj/Debug/net8.0/ApiWhatsAppVerification.WebApi.csproj.AssemblyReference.cache
/tests/ApiWhatsAppVerification.Tests/obj/Debug/net8.0/ApiWhatsAppVerification.Tests.AssemblyInfo.cs
/tests/ApiWhatsAppVerification.Tests/obj/Debug/net8.0/ApiWhatsAppVerification.Tests.AssemblyInfoInputs.cache
/.vs/ApiWhatsAppVerification/v17/.suo
/tests/ApiWhatsAppVerification.Tests/obj/Debug/net8.0/
src/ApiWhatsAppVerification.Application/bin/Debug/net8.0/
src/ApiWhatsAppVerification.Application/bin/Debug/net8.0/ApiWhatsAppVerification.Application.deps.json
src/ApiWhatsAppVerification.Application/bin/Debug/net8.0/ApiWhatsAppVerification.Application.deps.json
src/ApiWhatsAppVerification.Application/bin/Debug/net8.0/ApiWhatsAppVerification.Application.dll
src/ApiWhatsAppVerification.Application/bin/Debug/net8.0/ApiWhatsAppVerification.Application.pdb
src/ApiWhatsAppVerification.Application/bin/Debug/net8.0/ApiWhatsAppVerification.Domain.dll
src/ApiWhatsAppVerification.Application/bin/Debug/net8.0/ApiWhatsAppVerification.Domain.pdb
src/ApiWhatsAppVerification.Application/obj/Debug/net8.0/ApiWhats.1F1A4319.Up2Date
src/ApiWhatsAppVerification.Application/obj/Debug/net8.0/ApiWhatsAppVerification.Application.csproj.CoreCompileInputs.cache
src/ApiWhatsAppVerification.Application/obj/Debug/net8.0/ApiWhatsAppVerification.Application.csproj.FileListAbsolute.txt
src/ApiWhatsAppVerification.Application/obj/Debug/net8.0/ApiWhatsAppVerification.Application.dll
src/ApiWhatsAppVerification.Application/obj/Debug/net8.0/ApiWhatsAppVerification.Application.pdb
src/ApiWhatsAppVerification.Application/obj/Debug/net8.0/ApiWhatsAppVerification.Application.sourcelink.json
src/ApiWhatsAppVerification.Application/obj/Debug/net8.0/ref/ApiWhatsAppVerification.Application.dll
src/ApiWhatsAppVerification.Application/obj/Debug/net8.0/refint/ApiWhatsAppVerification.Application.dll
src/ApiWhatsAppVerification.Domain/bin/Debug/net8.0/ApiWhatsAppVerification.Domain.deps.json
src/ApiWhatsAppVerification.Domain/bin/Debug/net8.0/ApiWhatsAppVerification.Domain.dll
src/ApiWhatsAppVerification.Domain/bin/Debug/net8.0/ApiWhatsAppVerification.Domain.pdb
src/ApiWhatsAppVerification.Domain/obj/Debug/net8.0/ApiWhatsAppVerification.Domain.csproj.CoreCompileInputs.cache
src/ApiWhatsAppVerification.Domain/obj/Debug/net8.0/ApiWhatsAppVerification.Domain.csproj.FileListAbsolute.txt
src/ApiWhatsAppVerification.Domain/obj/Debug/net8.0/ApiWhatsAppVerification.Domain.dll
src/ApiWhatsAppVerification.Domain/obj/Debug/net8.0/ApiWhatsAppVerification.Domain.pdb
src/ApiWhatsAppVerification.Domain/obj/Debug/net8.0/ApiWhatsAppVerification.Domain.sourcelink.json
src/ApiWhatsAppVerification.Domain/obj/Debug/net8.0/ref/ApiWhatsAppVerification.Domain.dll
src/ApiWhatsAppVerification.Domain/obj/Debug/net8.0/refint/ApiWhatsAppVerification.Domain.dll
src/ApiWhatsAppVerification.Infrastructure/bin/Debug/net8.0/ApiWhatsAppVerification.Application.dll
src/ApiWhatsAppVerification.Infrastructure/bin/Debug/net8.0/ApiWhatsAppVerification.Application.pdb
src/ApiWhatsAppVerification.Infrastructure/bin/Debug/net8.0/ApiWhatsAppVerification.Domain.dll
src/ApiWhatsAppVerification.Infrastructure/bin/Debug/net8.0/ApiWhatsAppVerification.Domain.pdb
src/ApiWhatsAppVerification.Infrastructure/bin/Debug/net8.0/ApiWhatsAppVerification.Infrastructure.deps.json
src/ApiWhatsAppVerification.Infrastructure/bin/Debug/net8.0/ApiWhatsAppVerification.Infrastructure.dll
src/ApiWhatsAppVerification.Infrastructure/bin/Debug/net8.0/ApiWhatsAppVerification.Infrastructure.pdb
src/ApiWhatsAppVerification.Infrastructure/obj/Debug/net8.0/ApiWhats.AFB96338.Up2Date
src/ApiWhatsAppVerification.Infrastructure/obj/Debug/net8.0/ApiWhatsAppVerification.Infrastructure.csproj.CoreCompileInputs.cache
src/ApiWhatsAppVerification.Infrastructure/obj/Debug/net8.0/ApiWhatsAppVerification.Infrastructure.csproj.FileListAbsolute.txt
src/ApiWhatsAppVerification.Infrastructure/obj/Debug/net8.0/ApiWhatsAppVerification.Infrastructure.dll
src/ApiWhatsAppVerification.Infrastructure/obj/Debug/net8.0/ApiWhatsAppVerification.Infrastructure.pdb
src/ApiWhatsAppVerification.Infrastructure/obj/Debug/net8.0/ApiWhatsAppVerification.Infrastructure.sourcelink.json
src/ApiWhatsAppVerification.Infrastructure/obj/Debug/net8.0/ref/ApiWhatsAppVerification.Infrastructure.dll
src/ApiWhatsAppVerification.Infrastructure/obj/Debug/net8.0/refint/ApiWhatsAppVerification.Infrastructure.dll
src/ApiWhatsAppVerification.WebApi/bin/Debug/net8.0/ApiWhatsAppVerification.Application.dll
src/ApiWhatsAppVerification.WebApi/bin/Debug/net8.0/ApiWhatsAppVerification.Application.pdb
src/ApiWhatsAppVerification.WebApi/bin/Debug/net8.0/ApiWhatsAppVerification.Domain.dll
src/ApiWhatsAppVerification.WebApi/bin/Debug/net8.0/ApiWhatsAppVerification.Domain.pdb
src/ApiWhatsAppVerification.WebApi/bin/Debug/net8.0/ApiWhatsAppVerification.Infrastructure.dll
src/ApiWhatsAppVerification.WebApi/bin/Debug/net8.0/ApiWhatsAppVerification.Infrastructure.pdb
src/ApiWhatsAppVerification.WebApi/bin/Debug/net8.0/ApiWhatsAppVerification.WebApi.deps.json
src/ApiWhatsAppVerification.WebApi/bin/Debug/net8.0/ApiWhatsAppVerification.WebApi.dll
src/ApiWhatsAppVerification.WebApi/bin/Debug/net8.0/ApiWhatsAppVerification.WebApi.exe
src/ApiWhatsAppVerification.WebApi/bin/Debug/net8.0/ApiWhatsAppVerification.WebApi.pdb
src/ApiWhatsAppVerification.WebApi/bin/Debug/net8.0/ApiWhatsAppVerification.WebApi.runtimeconfig.json
src/ApiWhatsAppVerification.WebApi/bin/Debug/net8.0/appsettings.Development.json
src/ApiWhatsAppVerification.WebApi/bin/Debug/net8.0/appsettings.json
src/ApiWhatsAppVerification.WebApi/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
src/ApiWhatsAppVerification.WebApi/bin/Debug/net8.0/Microsoft.OpenApi.dll
src/ApiWhatsAppVerification.WebApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
src/ApiWhatsAppVerification.WebApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
src/ApiWhatsAppVerification.WebApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
src/ApiWhatsAppVerification.WebApi/obj/Debug/net8.0/ApiWhats.E4F5B230.Up2Date
src/ApiWhatsAppVerification.WebApi/obj/Debug/net8.0/ApiWhatsAppVerification.WebApi.csproj.CoreCompileInputs.cache
src/ApiWhatsAppVerification.WebApi/obj/Debug/net8.0/ApiWhatsAppVerification.WebApi.csproj.FileListAbsolute.txt
src/ApiWhatsAppVerification.WebApi/obj/Debug/net8.0/ApiWhatsAppVerification.WebApi.dll
src/ApiWhatsAppVerification.WebApi/obj/Debug/net8.0/ApiWhatsAppVerification.WebApi.genruntimeconfig.cache
src/ApiWhatsAppVerification.WebApi/obj/Debug/net8.0/ApiWhatsAppVerification.WebApi.MvcApplicationPartsAssemblyInfo.cache
src/ApiWhatsAppVerification.WebApi/obj/Debug/net8.0/ApiWhatsAppVerification.WebApi.MvcApplicationPartsAssemblyInfo.cs
src/ApiWhatsAppVerification.WebApi/obj/Debug/net8.0/ApiWhatsAppVerification.WebApi.pdb
src/ApiWhatsAppVerification.WebApi/obj/Debug/net8.0/ApiWhatsAppVerification.WebApi.sourcelink.json
src/ApiWhatsAppVerification.WebApi/obj/Debug/net8.0/staticwebassets.build.json
src/ApiWhatsAppVerification.WebApi/obj/Debug/net8.0/ref/ApiWhatsAppVerification.WebApi.dll
src/ApiWhatsAppVerification.WebApi/obj/Debug/net8.0/refint/ApiWhatsAppVerification.WebApi.dll
src/ApiWhatsAppVerification.WebApi/obj/Debug/net8.0/staticwebassets/msbuild.build.ApiWhatsAppVerification.WebApi.props
src/ApiWhatsAppVerification.WebApi/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.ApiWhatsAppVerification.WebApi.props
src/ApiWhatsAppVerification.WebApi/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.ApiWhatsAppVerification.WebApi.props
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/ApiWhatsAppVerification.Tests.deps.json
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/ApiWhatsAppVerification.Tests.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/ApiWhatsAppVerification.Tests.pdb
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/ApiWhatsAppVerification.Tests.runtimeconfig.json
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/Microsoft.TestPlatform.CommunicationUtilities.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/Microsoft.TestPlatform.CoreUtilities.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/Microsoft.TestPlatform.CrossPlatEngine.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/Microsoft.TestPlatform.PlatformAbstractions.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/Microsoft.TestPlatform.Utilities.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.Common.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/Newtonsoft.Json.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/NuGet.Frameworks.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/nunit.engine.api.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/nunit.engine.core.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/nunit.engine.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/nunit.framework.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/NUnit3.TestAdapter.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/NUnit3.TestAdapter.pdb
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/testcentric.engine.metadata.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/testhost.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/testhost.exe
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/ApiWhatsAppVerification.Tests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/ApiWhatsAppVerification.Tests/obj/Debug/net8.0/ApiWhats.D21AC100.Up2Date
tests/ApiWhatsAppVerification.Tests/obj/Debug/net8.0/ApiWhatsAppVerification.Tests.csproj.CoreCompileInputs.cache
tests/ApiWhatsAppVerification.Tests/obj/Debug/net8.0/ApiWhatsAppVerification.Tests.csproj.FileListAbsolute.txt
tests/ApiWhatsAppVerification.Tests/obj/Debug/net8.0/ApiWhatsAppVerification.Tests.dll
tests/ApiWhatsAppVerification.Tests/obj/Debug/net8.0/ApiWhatsAppVerification.Tests.genruntimeconfig.cache
tests/ApiWhatsAppVerification.Tests/obj/Debug/net8.0/ApiWhatsAppVerification.Tests.pdb
tests/ApiWhatsAppVerification.Tests/obj/Debug/net8.0/ApiWhatsAppVerification.Tests.sourcelink.json
tests/ApiWhatsAppVerification.Tests/obj/Debug/net8.0/ref/ApiWhatsAppVerification.Tests.dll
tests/ApiWhatsAppVerification.Tests/obj/Debug/net8.0/refint/ApiWhatsAppVerification.Tests.dll
/src/ApiWhatsAppVerification.Application/obj/Debug/net8.0/ApiWhatsAppVerification.Application.assets.cache
/src/ApiWhatsAppVerification.Domain/obj/Debug/net8.0/ApiWhatsAppVerification.Domain.assets.cache
/src/ApiWhatsAppVerification.Infrastructure/obj/Debug/net8.0/ApiWhatsAppVerification.Infrastructure.assets.cache
/src/ApiWhatsAppVerification.WebApi/obj/Debug/net8.0/ApiWhatsAppVerification.WebApi.assets.cache
/tests/ApiWhatsAppVerification.Tests/obj/Debug/net8.0/ApiWhatsAppVerification.Tests.assets.cache
/src/ApiWhatsAppVerification.Application/obj/project.nuget.cache
/src/ApiWhatsAppVerification.Domain/obj/project.nuget.cache
/src/ApiWhatsAppVerification.Infrastructure/obj/project.nuget.cache
/src/ApiWhatsAppVerification.WebApi/obj/project.nuget.cache
/tests/ApiWhatsAppVerification.Tests/obj/project.nuget.cache
