###############################
# DotNet / Visual Studio
###############################

# Build results
bin/
obj/

# Visual Studio cache
.vs/
*.user
*.suo
*.userprefs

# Resharper
_ReSharper*/
*.DotSettings.user

# NuGet packages
packages/
*.nupkg
*.snupkg
project.lock.json
project.assets.json
project.nuget.cache

# Visual Studio 2017+
*.vc.db
*.vc.opendb

# Visual Studio Code
.vscode/

# Visual Studio Code Counter
.vscode-counter/

# Rider
.idea/
*.sln.iml

# Other files
*.swp
*.DS_Store
Thumbs.db

# User-specific files
*.userosscache
*.sln.docstates

# Logs
*.log

/src/ApiWhatsAppVerification.WebApi/appsettings.Development.json
/src/ApiWhatsAppVerification.WebApi/appsettings.json
appsettings.Development.json
###############################
# Sistema Operacional
###############################

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~
/.vs/ApiWhatsAppVerification/v17/DocumentLayout.json
/src/ApiWhatsAppVerification.WebApi/obj/Debug/net8.0/apphost.exe
/.vs/ApiWhatsAppVerification/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation/apiwhatsappverification.metadata.v9.bin
/.vs/ProjectEvaluation/apiwhatsappverification.projects.v9.bin
/.vs/ProjectEvaluation/apiwhatsappverification.strings.v9.bin
/.vs/ApiWhatsAppVerification/v17/.futdcache.v2
